
.bg-content-dark {
    background: url('../public/assets/images/bg-dark.jpeg') no-repeat center center;
    background-size: cover;
}

.bg-content-light {
    background: url('../public/assets/images/bg-light.jpeg') no-repeat center center;
    background-size: cover;
}

.transition-transform {
    transition: transform 0.5s ease-in-out;
}

