@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        @apply font-sans;
    }

    :root {
        --background: 226.2 100% 95%;
        --foreground: 226.2 5% 10%;
        --card: 226.2 50% 90%;
        --card-foreground: 226.2 5% 15%;
        --popover: 226.2 100% 95%;
        --popover-foreground: 226.2 100% 10%;
        --primary: 226.2 57% 21%;
        --primary-foreground: 0 0% 100%;
        --secondary: 226.2 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 188.2 30% 85%;
        --muted-foreground: 226.2 5% 35%;
        --accent: 188.2 30% 80%;
        --accent-foreground: 226.2 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 226.2 5% 90%;
        --border: 226.2 30% 50%;
        --input: 226.2 30% 26%;
        --ring: 226.2 57% 21%;
        --radius: 0rem;
    }

    .dark {
        --background: 226.2 50% 10%;
        --foreground: 226.2 5% 90%;
        --card: 226.2 50% 10%;
        --card-foreground: 226.2 5% 90%;
        --popover: 226.2 50% 5%;
        --popover-foreground: 226.2 5% 90%;
        --primary: 226.2 57% 21%;
        --primary-foreground: 0 0% 100%;
        --secondary: 226.2 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 188.2 30% 25%;
        --muted-foreground: 226.2 5% 60%;
        --accent: 188.2 30% 25%;
        --accent-foreground: 226.2 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 226.2 5% 90%;
        --border: 226.2 30% 26%;
        --input: 226.2 30% 26%;
        --ring: 226.2 57% 21%;
        --radius: 0rem;
    }
}
