@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        @apply font-sans;
    }

    :root {
        --background: 225 55% 96%;
        --foreground: 225 20% 20%;
        --card: 225 55% 90%;
        --card-foreground: 225 20% 30%;
        --popover: 225 55% 90%;
        --popover-foreground: 225 20% 30%;
        --primary: 225 60% 40%;
        --primary-foreground: 0 0% 100%;
        --secondary: 225 40% 50%;
        --secondary-foreground: 0 0% 100%;
        --muted: 225 25% 85%;
        --muted-foreground: 225 20% 50%;
        --accent: 225 80% 50%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 65% 40%;
        --destructive-foreground: 0 0% 90%;
        --border: 225 25% 80%;
        --input: 225 55% 90%;
        --ring: 225 80% 50%;
        --radius: 0rem;
    }

    .dark {
        --background: 224 52% 4%;
        --foreground: 227 26% 93%;
        --card: 220 23% 16%;
        --card-foreground: 227 26% 93%;
        --popover: 225 55% 10%;
        --popover-foreground: 225 15% 90%;
        --primary: 207 22% 34%;
        --primary-foreground: 227 26% 93%;
        --secondary: 193 10% 54%;
        --secondary-foreground: 224 52% 4%;
        --muted: 225 25% 15%;
        --muted-foreground: 225 20% 70%;
        --accent: 63 13% 73%;
        --accent-foreground: 224 52% 4%;
        --destructive: 0 65% 40%;
        --destructive-foreground: 0 0% 90%;
        --border: 225 25% 20%;
        --input: 225 55% 10%;
        --ring: 225 80% 50%;
        --radius: 0rem;
    }
}
